@import url('https://fonts.googleapis.com/css2?family=Space+Mono:wght@400;700&display=swap');

body {
    background-color: rgb(12, 11, 20);
    color: white;
    font-family: 'Space Mono', monospace;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
    box-shadow: 4px 4px 15px rgba(0, 0, 0, 0.4);
}

@media (max-width: 768px) {
    #x2 {
        font-size: 1rem;
        max-width: 90%;
    }
}




#lol {
    transition: ease-in-out 0.3s;
    transform: scale(1);
}

#lol:hover {
    transition: ease-in-out 0.3 s;
    transform: scale(1.5);
    z-index: 1;
}

section {
    display: grid;
    place-items: center;
    align-content: center;
    min-height: 100vh;
}

#x2 {
    font-size: 1.3rem;
    line-height: 1.6;
    max-width: 600px;
    text-align: center;
}


.image-row {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 25px;
}
img {
    max-width: 100%;
    height: auto;
}

